Repository Buddies2024/spring, pull requests merged in 2025-02, with the labels that each got.

#455 댓글 등록 API 응답 수정
  src/main/java/com/exchangediary/comment/service/CommentService.java
  src/main/java/com/exchangediary/comment/ui/dto/response/CommentCreateResponse.java
Labels: BE, 🛠️ refactor

#459 댓글 등록 API 응답 수정 후 테스트 실패 수정
  src/test/java/com/exchangediary/comment/api/CommentCreateApiTest.java
Labels: BE, 🐞 bug, 🔎 test

#462 리다이렉트 제거
  src/main/java/com/exchangediary/global/config/web/WebConfig.java
  src/main/java/com/exchangediary/global/config/web/interceptor/GroupAuthorizationInterceptor.java
  src/main/java/com/exchangediary/global/config/web/interceptor/JwtAuthenticationInterceptor.java
  src/main/java/com/exchangediary/member/service/MemberQueryService.java
  src/main/java/com/exchangediary/member/ui/ApiKakaoLoginController.java
  src/test/java/com/exchangediary/ApiBaseTest.java
  src/test/java/com/exchangediary/global/config/interceptor/GroupAuthorizationInterceptorTest.java
  src/test/java/com/exchangediary/global/config/interceptor/JwtAuthenticationInterceptorTest.java
Labels: BE, 🛠️ refactor

#463 익명의 사용자 정보 조회 API 구현
  src/main/java/com/exchangediary/global/config/web/WebConfig.java
  src/main/java/com/exchangediary/global/config/web/interceptor/JwtAuthenticationInterceptor.java
  src/main/java/com/exchangediary/member/service/AnonymousService.java
  src/main/java/com/exchangediary/member/service/CookieService.java
  src/main/java/com/exchangediary/member/service/JwtService.java
  src/main/java/com/exchangediary/member/service/MemberRegistrationService.java
  src/main/java/com/exchangediary/member/ui/ApiAnonymousController.java
  src/main/java/com/exchangediary/member/ui/ApiKakaoLoginController.java
  src/main/java/com/exchangediary/member/ui/dto/response/AnonymousInfoResponse.java
  src/test/java/com/exchangediary/global/config/interceptor/JwtAuthenticationInterceptorTest.java
  src/test/java/com/exchangediary/member/api/AnonymousApiTest.java
  src/test/java/com/exchangediary/member/service/ExpiredJwtTest.java
  src/test/java/com/exchangediary/member/service/JwtServiceTest.java
  src/test/java/com/exchangediary/member/service/ReissueJwtTokenTest.java
Labels: BE, ✨ feat, 🔎 test

#460 댓글/답글 알림 구현
  src/main/java/com/exchangediary/comment/service/CommentCreateService.java
  src/main/java/com/exchangediary/comment/ui/ApiCommentController.java
Labels: BE, ✨ feat

#472 일기 조회 api 수정
  src/main/java/com/exchangediary/diary/service/DiaryQueryService.java
  src/main/java/com/exchangediary/diary/ui/DiaryController.java
  src/main/java/com/exchangediary/diary/ui/dto/response/DiaryResponse.java
  src/main/java/com/exchangediary/diary/ui/dto/response/DiaryTopResponse.java
  src/test/java/com/exchangediary/diary/api/DiaryViewApiTest.java
  src/test/java/com/exchangediary/diary/api/DiaryViewMonthlyApiTest.java
  src/test/java/com/exchangediary/diary/service/DiaryQueryServiceTest.java
Labels: BE, ✨ feat, 🔎 test
